@font-face{
    font-family: 'Manrope';
    src: url(Manrope_VariableFont_wght.ttf);
}
*, *::before,*::after{
    box-sizing: border-box;
    font-family: Manrope;
    font-size: 18px;
}
body{
    width: 100vw;
    margin: 0;
    padding: 0;

}
/*header*/
header .logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

section{
    width: 100vw;
}
.logo img{
    width: 183px;
    height: 88px;
    margin:0;
}

.logo ul{
    list-style-type: none;
    display: flex;
    align-content: space-between;
    align-items: center;
    /*justify-content: center;*/
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
}
.logo ul li a{
    text-decoration: none;
    color: black;
    transition: 1.5s;
    border-bottom: 2px solid transparent;
}
.logo ul li a[href="Menu.html"]{
    font-size: 1.4em;
    border-bottom: 2px solid black;
}

.logo ul li a:hover{
    border-bottom: 2px solid black;
}
.logo ul li {
    margin: 8px;
    font-weight: bold;
}
button{
    background-color: #56A299;
    border: none;
    border-radius: 120px;
    width: 130px;
    height: 30px;
    cursor: pointer;
    color: white;
}
h1{
display: flex;
    justify-content: center;
    font-size: 40px;
}
/*Адаптив*/

.hamburger{
    display: none;
}
.vertical_menu{
    display:none;
}
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3%;
    margin: 0 3% 0 3%;

}
.salads img, .hotMeal img, .mainDish img, .bakes img, .desserts img,.cocktails img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.mainDish img, .bakes img{
    object-position: 88%;
}
.desserts img{
    object-position: 30%;
}

.dishes{
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;

}
.block{
    width: 100%;
    background: linear-gradient(180deg, rgba(251,212,190,0.8533788515406162) 0%, rgba(51,121,113,0.9108018207282913) 49%, rgba(86,162,153,1) 100%);
    height: 30%;
    position: absolute;
    bottom: -30%;
    border-radius: 50px 50px 0 0;
    transition: .4s
}
.dishes:hover .block{
bottom: 0;
}
.block span{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 3px;
    color: black;
    cursor:pointer;
}
.block span:active{
    color: #afacac;
}

/*footer*/
footer{
    background-color: #F5F5F5;
    margin-top: 10%;
}
.information{
    display: flex;
    height: 477px;
    width: 100vw;
    border-bottom: 2px solid #DDDDDD;
}
.copyright{
    text-align: center;
    padding-bottom: 40px;
}
.facebook{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #56A299;
}
.column1, .column2, .column3{
    width: 200px;
    margin: auto;
}
.links_line img {
    margin-right: 10px;
}
input[type^="image"]{
    cursor: pointer;
    position: absolute;
    right: -5%;
    top: 25%;
}
input[type^="email"]{
    border: none;
    height: 50px;
    width: 219px;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 6px;
    box-shadow: 0 0 5px grey;
}
.email_button{
    position: relative;
}



@media screen and (max-width: 515px) {
    section {
        width: 100vw;
    }

    header .logo {
        justify-content: flex-start;
        margin: 8% 0 0 -5%;
    }

    .logo ul {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 9%;
        top: 5%;
        cursor: pointer;
    }
.vertical_menu {
    display: block;
    position: absolute;
    width: 52%;
    top: 0;
    left: -60%;
    height: 100vh;
    /*background-color: #55c2c2;*/
    background: rgb(251,212,190);
    background: linear-gradient(120deg, rgba(251,212,190,1) 0%, rgba(51,121,113,0.9108018207282913) 49%, rgba(86,162,153,1) 100%);
    opacity: .8;
    transition-duration: 1.5s;
    z-index: 100;
}
    .vertical_menu img{
        position: absolute;
        top: 0;
        right: 5%;
        cursor: pointer;
    }
    .vertical_menu a{
        text-decoration: none;
        color: black;
    }
    .vertical_menu ul{
        list-style-type: none;
        margin: 33% 0 0 -20px;
    }
    .vertical_menu li{
        margin-bottom: 20px;
    }
    .vertical_menu li a{
        font-weight: bold;
        font-size: 20px;
    }
    .vertical_menu ul li a[href="Menu.html"]{
        font-size: 1.4em;
        border-bottom: 2px solid black;
    }
h1{
    text-align: center;
}
.categories{
    display: flex;
    flex-direction: column;
}
.categories > div{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.block{
    bottom: 0;
    height: 20%;
    font-size: 1.2em;
}
.block span{
    font-weight: normal;
}
    .block{
        width: 100%;
        background: linear-gradient(180deg, rgba(251,212,190,0.8533788515406162) 0%, rgba(51,121,113,0.9108018207282913) 49%, rgba(86,162,153,1) 100%);
        height: 30%;
        position: absolute;
        bottom: -30%;
        border-radius: 50px 50px 0 0;
        transition: .4s
    }
    .dishes:hover .block{
        bottom: 0;
    }
/*    footer*/
    footer{
        margin-top: 40%;

    }
    .foot_Logo{
        display: none;
    }
    .information{
        display: grid;
        margin-left: 10%;
        align-content: center;
        width: 89vw;
        justify-content: center;
    }
    .column3{
        grid-row-start: 2;
        margin: 0;
    }
    .column1{
        grid-row-start: 3;
        margin: 0;
    }
    .column2{
        grid-row-start: 1;
        margin: 0;
    }
    .email_button{
        margin-top: 20%;
        margin-left: -20%;
    }
    input[type="image"]{
        margin-right: 20%;
    }
    .email_button{
        display: none;
    }
    .column2, .column3 > p, h3{
        text-align: center;
    }
    .links_line{
        display: flex;
        justify-content: center;

    }
}
@media screen and (min-width: 515px) and (max-width: 768px) {
    .logo ul {
        display: none;
    }

header .logo {
        width: 100%;
        display: flex;
        justify-content: left;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 9%;
        top: 5%;
        cursor: pointer;
    }

    .vertical_menu {
        display: block;
        position: absolute;
        width: 52%;
        top: 0;
        left: -60%;
        height: 100vh;
        /*background-color: #55c2c2;*/
        background: rgb(251, 212, 190);
        background: linear-gradient(120deg, rgba(251, 212, 190, 1) 0%, rgba(51, 121, 113, 0.9108018207282913) 49%, rgba(86, 162, 153, 1) 100%);
        opacity: .8;
        transition-duration: 1s;
        z-index: 100;
    }

    .vertical_menu img {
        position: absolute;
        top: 0;
        right: 5%;
        cursor: pointer;
    }

    .vertical_menu a {
        text-decoration: none;
        color: black;
    }

    .vertical_menu ul {
        list-style-type: none;
        margin: 33% 0 0 -20px;
    }

    .vertical_menu li {
        margin-bottom: 20px;
    }

    .vertical_menu li a {
        font-weight: bold;
        font-size: 20px;
    }

    .vertical_menu ul li a[href="Menu.html"] {
        font-size: 1.4em;
        border-bottom: 2px solid black;
    }

    .categories {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        text-align: center;
    }
}